@* File: Pages/Shared/_LoginPartial.cshtml *@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav d-flex align-items-center flex-row">
        <li class="nav-item">
            @* "Xin chào" text now links to Profile/Index and uses nav-link-figma-username *@
            <a class="nav-link-figma-username" asp-page="/Profile/Index" title="Trang Cá Nhân">Xin chào @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item ms-3">
            @* Added ms-3 for margin to the left of the logout button li *@
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
                <button type="submit" class="nav-link-figma-logout btn btn-link">Đăng xuất</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav d-flex align-items-center flex-row">
        <li class="nav-item">
            <a class="btn-figma-login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </li>
        <li class="nav-item ms-2">
            @* ms-2 for margin between login and register buttons *@
            <a class="btn-figma-register" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
        </li>
    </ul>
}