@page
@model GocBep.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Recipe.Name" class="control-label"></label>
                <input asp-for="Recipe.Name" class="form-control" />
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Description" class="control-label"></label>
                <textarea asp-for="Recipe.Description" class="form-control"></textarea>
                <span asp-validation-for="Recipe.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Recipe.Ingredients" class="control-label"></label>
                <textarea asp-for="Recipe.Ingredients" class="form-control"></textarea>
                <span asp-validation-for="Recipe.Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Recipe.Instructions" class="control-label"></label>
                <textarea asp-for="Recipe.Instructions" class="form-control"></textarea>
                <span asp-validation-for="Recipe.Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.ImageUrl" class="control-label"></label>
                <input asp-for="Recipe.ImageUrl" class="form-control" />
                <span asp-validation-for="Recipe.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.PrepTime" class="control-label"></label>
                <input asp-for="Recipe.PrepTime" class="form-control" />
                <span asp-validation-for="Recipe.PrepTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.CookTime" class="control-label"></label>
                <input asp-for="Recipe.CookTime" class="form-control" />
                <span asp-validation-for="Recipe.CookTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Servings" class="control-label"></label>
                <input asp-for="Recipe.Servings" class="form-control" />
                <span asp-validation-for="Recipe.Servings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.CreatedAt" class="control-label"></label>
                <input asp-for="Recipe.CreatedAt" class="form-control" />
                <span asp-validation-for="Recipe.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Recipe.UserId" class="control-label"></label>
                <select asp-for="Recipe.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
